html{
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

body {
  background: #000000;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 10pt;
  color: #484848;
}

body,input {
  font-family: Verdana;
}

h1,h2,h3,h4 {
  font-size: 12pt;
  text-transform: uppercase;
  font-weight: strong;
}

button {
  width: 100pt;
  height: 40pt;
  padding: 5pt 5pt;
  color:#666666;
  text-decoration: none;
}

div {
  padding:0px;
}

#floorCanvas {
  border: 1px solid;
}


div {
    width: 184px;
    height: 184px;
    padding: 0;
}

div div {
  width: 32px;
  height: 32px;
  outline: 1px solid;
  float: left;
  padding: 0;
}

/*#thirtytwo {
  background: url(images/N-Ar.gif)
}
*/

.grid {
	width: 192px;
  height: 192px;
  float: left;
  padding: 0;
}

.ArEx {
	height: 32px;
	width: 32px;
	padding: 0;
	display: none;
  display: block;
	
	
	-webkit-animation: fourfr 2s steps(8) 1;
       -moz-animation: fourfr 2s steps(8) 1;
        -ms-animation: fourfr 2s steps(8) 1;
         -o-animation: fourfr 2s steps(8) 1;
            animation: fourfr 2s steps(8) 1;
}

.Tr3 {
	height: 32px;
	width: 32px;
	padding: 0;
	display: none;
  display: block;

	-webkit-animation: threefr 2s steps(3) 1;
       -moz-animation: threefr 2s steps(3) 1;
        -ms-animation: threefr 2s steps(3) 1;
         -o-animation: threefr 2s steps(3) 1;
            animation: threefr 2s steps(3) 1;
}

.Tr1 {
	height: 32px;
	width: 32px;
	padding: 0;
	display: none;
  display: block;
	
	-webkit-animation: onefr 1s steps(1) 1;
       -moz-animation: onefr 1s steps(1) 1;
        -ms-animation: onefr 1s steps(1) 1;
         -o-animation: onefr 1s steps(1) 1;
            animation: onefr 1s steps(1) 1;
}

/*4 Frame Spritesheets*/
@-webkit-keyframes fourfr {
   from { background-position:    0px; }
     to { background-position: -128px; }
}

@-moz-keyframes fourfr {
   from { background-position:    0px; }
     to { background-position: -128px; }
}

@-ms-keyframes fourfr {
   from { background-position:    0px; }
     to { background-position: -128px; }
}

@-o-keyframes fourfr {
   from { background-position:    0px; }
     to { background-position: -128px; }
}

@keyframes fourfr {
   from { background-position:    0px; }
     to { background-position: -256px; }
}

/*3 Frame Spritesheets*/
@-webkit-keyframes threefr {
   from { background-position:    0px; }
     to { background-position: -96px; }
}

@-moz-keyframes threefr {
   from { background-position:    0px; }
     to { background-position: -96px; }
}

@-ms-keyframes threefr {
   from { background-position:    0px; }
     to { background-position: -96px; }
}

@-o-keyframes threefr {
   from { background-position:    0px; }
     to { background-position: -96px; }
}

@keyframes threefr {
   from { background-position:    0px; }
     to { background-position: -96px; }
}

/*1 Frame Spritesheets*/
@-webkit-keyframes onefr {
   from { background-position:    0px; }
     to { background-position: -32px; }
}

@-moz-keyframes onefr {
   from { background-position:    0px; }
     to { background-position: -32px; }
}

@-ms-keyframes onefr {
   from { background-position:    0px; }
     to { background-position: -32px; }
}

@-o-keyframes onefr {
   from { background-position:    0px; }
     to { background-position: -32px; }
}

@keyframes onefr {
   from { background-position:    0px; }
     to { background-position: -32px; }
}

app {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}


